<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jobs">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity android:name="com.jobs.activity.Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jobs.activity.Main"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme2"
            />

        <activity android:name="com.jobs.activity.CreateAccount"
                  android:label="@string/create_account"/>


        <activity android:name="com.jobs.activity.ViewListing"
            android:label="@string/app_name"/>

        <activity android:name="com.jobs.activity.MyListings"
            android:label="My Listings"/>

    </application>

</manifest>
